# cargo-features = ["strip"]

[package]
name = "rsdroid"
version = "0.1.0"
authors = ["David Allison <davidallisongithub@gmail.com>"]
edition = "2018"

[lib]
crate_type = ["dylib"]

[dependencies]
jni = { version = "0.17.0", default-features = false }
anki = { path = "../anki/rslib" }
prost = "0.6.1"
serde = "1.0.114"
serde_json = "1.0.56"
serde_derive = "1.0.114"

# picked bundled - TODO: Is this correct?
rusqlite = { version = "0.23.1", features = ["trace", "functions", "collation", "bundled"] }

[features]
no-android = []