name: rsdroid (macOS)
on: push

# TODO: consider assembleRelease if possible

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
          submodules: 'true' # anki is a submodule

    # i18n did not seem to be handled
    - name: Init i18n submodule
      run: git submodule update --init --recursive

    - name: Install NDK
      run: .github/scripts/install_ndk_macos.sh r22 22.0.7026061

    - name: Test NDK
      run: echo "NDK set to $ANDROID_NDK_HOME"

    - name: Install Rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: stable
        override: true

    # actions-rs only accepts "target" (although a "targets" param to be added in v2). We need 7 targets.
    - name: Install Rust Targets
      run: .github/scripts/install_rust_targets.sh

    - name: Install Pyenv
      run: .github/scripts/macos_install_pyenv.sh

    # pyenv requires bash_profile, so we need the -l (login) arg for bash from now on on macOS
    # should only require 3.5 mins to setup, but can be at least 6.5 on occasion.
    - name: Setup Pyenv
      timeout-minutes: 10
      shell: bash -l {0}
      run: |
             pyenv install 3.7.9
             pyenv shell 3.7.9
             pyenv global 3.7.9


    - name: Install & Test Protobuf Compiler
      shell: bash -l {0} 
      run: |
              pip3 install protobuf
              pip3 install protobuf-compiler
              python3 .github/scripts/protoc_gen_deps.py

    - name: Build
      shell: bash -l {0}
      run: ./gradlew clean assembleDebug -DtestBuildType=debug -Dorg.gradle.daemon=false -Dorg.gradle.console=plain

    - name: Build Instrumented Test APKs
      shell: bash -l {0}
      run: ./gradlew rsdroid-instrumented:assembleDebug rsdroid-instrumented:assembleAndroidTest -DtestBuildType=debug -Dorg.gradle.daemon=false -Dorg.gradle.console=plain

    - name: Upload APKs as Artifact
      uses: actions/upload-artifact@v2
      with:
        name: rsdroid-instrumented
        if-no-files-found: error
        path: rsdroid-instrumented/build/outputs/apk


  test:
    needs: build
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [21]
        arch: [x86, x86_64] # arm and arm64 are not supported by reactivecircus/android-emulator-runner
    steps:
    - uses: actions/checkout@v2
      name: Checkout
      with:
          submodules: 'true' # anki is a submodule - and this is currently required by all gradle builds.

    # COULD_BE_BETTER: This may not be needed - tiny speed penalty
    - name: Init i18n submodule
      run: git submodule update --init --recursive

    - name: Download APKs
      uses: actions/download-artifact@v2
      with:
        name: rsdroid-instrumented
        path: rsdroid-instrumented/build/outputs/apk

    - name: Install NDK
      run: .github/scripts/install_ndk_macos.sh r22 22.0.7026061

    - name: run tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: ${{ matrix.api-level }}
        target: default
        arch: ${{ matrix.arch }}
        profile: Nexus 6
        script: ./gradlew rsdroid-instrumented:connectedCheck -x rsdroid-instrumented:packageDebugAndroidTest -x rsdroid-instrumented:packageDebug