# Note: this is copied from robolectric_build.yml
name: Publish JAR for Robolectric Testing
on: workflow_dispatch

jobs:
  publish:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Fetch submodules
      run:  git submodule update --init --recursive --remote --force

    - name: Install NDK
      run: .github/scripts/install_ndk_macos.sh r22 22.0.7026061

    # install cargo
    - name: Install Rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: nightly # nightly is currently required for Robolectric Testing
        override: true
        components: rustfmt, clippy

    # actions-rs only accepts "target" (although a "targets" param to be added in v2). We need 7 targets.
    - name: Install Rust Targets
      run: .github/scripts/install_rust_robolectric_targets.sh

    - name: Install x86_64-w64-mingw32-gcc
      run: brew install mingw-w64 && x86_64-w64-mingw32-gcc -v

    - name: Install x86_64-unknown-linux-gnu
      run: |
           brew tap SergioBenitez/osxct
           brew install x86_64-unknown-linux-gnu
           x86_64-unknown-linux-gnu-gcc -v

    - name: Build JAR
      run: |
              export ANKIDROID_LINUX_CC=x86_64-unknown-linux-gnu-gcc
              export ANKIDROID_MACOS_CC=cc
              export RUST_DEBUG=1
              export RUST_BACKTRACE=1
              export RUST_LOG=trace
              export NO_CROSS=true
              ./gradlew clean rsdroid-testing:build -Dorg.gradle.project.macCC=$ANKIDROID_MACOS_CC -DtestBuildType=debug -Dorg.gradle.daemon=false -Dorg.gradle.console=plain

    - name: Check Compiled Libraries
      run: >
              cd rsdroid-testing/assets &&
              ../../.github/scripts/check_robolectric_assets.sh

    - name: Upload rsdroid-testing JAR as artifact
      uses: actions/upload-artifact@v2
      with:
        name: rsdroid-testing
        if-no-files-found: error
        path: rsdroid-testing/build/libs

    - name: Publish JAR to Maven
      env:
        ORG_GRADLE_PROJECT_SIGNING_PRIVATE_KEY: ${{ secrets.SIGNING_PRIVATE_KEY }}
        ORG_GRADLE_PROJECT_SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        SONATYPE_NEXUS_USERNAME: david-allison-1
        SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
      run: |
              export ANKIDROID_LINUX_CC=x86_64-unknown-linux-gnu-gcc
              export ANKIDROID_MACOS_CC=cc
              export RUST_DEBUG=1
              export RUST_BACKTRACE=1
              export RUST_LOG=trace
              export NO_CROSS=true
              ./gradlew rsdroid-testing:uploadArchives -Dorg.gradle.project.macCC=$ANKIDROID_MACOS_CC -DtestBuildType=debug -Dorg.gradle.daemon=false -Dorg.gradle.console=plain

    - name: ℹ️Additional Release Instructions (requires human interaction)
      run: echo "Sign in to https://oss.sonatype.org/#stagingRepositories , close the repsository, then release it"