name: Update Gradle Wrapper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      # COULD_BE_BETTER: Consider turning this into a GitHub action - help the wider community
      # NDK install (unzipping) is really noisy - silence the log spam with grep, while keeping errors
      - name: Install NDK (silent)
        run: .github/scripts/install_ndk.sh 22.0.7026061
      
      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          set-distribution-checksum: false
