name: Update Gradle Wrapper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Configure JDK
      uses: actions/setup-java@v4
      with:
        distribution: "temurin"
        java-version: "21"

    - name: Install Android Command Line Tools
      uses: android-actions/setup-android@v2

    # COULD_BE_BETTER: Consider turning this into a GitHub action - help the wider community
    # NDK install (unzipping) is really noisy - silence the log spam with grep, while keeping errors
    - name: Install NDK (silent)
      run: .github/scripts/install_ndk.sh 27.0.12077973

    - name: Update Gradle Wrapper
      uses: gradle-update/update-gradle-wrapper-action@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        set-distribution-checksum: false
